<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="\Manager">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Mudur</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="\CreateLeaveRequest">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Izin Talebi Olustur</span></a>  
    </li>
    
    <li class="nav-item active">
        <a class="nav-link" href="\PendingLeaveRequest">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Bekleyen Izinler</span></a>  
    </li>
            
    <li class="nav-item active">
        <a class="nav-link" href="\ViewLeaveRequest"> 
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Izinlerini Goruntule</span></a>  
    </li>
    
    <li class="nav-item active">
        <a class="nav-link" href="\CreatePurchase"> 
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Satın Alma Talebi Oluştur</span></a>  
    </li>
    
    <li class="nav-item active">
        <a class="nav-link" href="\ViewPurchase"> 
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Satın Alma Talebi Görüntüle</span></a>  
    </li>
    
    <li class="nav-item active">
        <a class="nav-link" href="\ViewPurchaseApproved"> 
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Onaylanacak Satın Alma Talepleri Görüntüle</span></a>  
    </li>
            
</ul>