@model DTO.LeaveQuotaDto.GetLeaveQuotaDto

<div class="mt-4 p-3 bg-light rounded border">
    <h5 class="text-primary">İzin Bilgileri</h5>
    <p><strong>Kullanılan Gün:</strong> @Model.UsedDays</p>
    <p><strong>Kalan Gün:</strong> @(Model.AllowedDays - Model.UsedDays)</p>
</div>